#jupyter notebook
/etc
/share
.ipynb_checkpoints
*/.ipynb_checkpoints/*

#Venv
pyvenv.cfg
/Lib
/Scripts

#Temp file
/.idea
media/
__pycache__/
/download

# IPython
profile_default/
ipython_config.py